In [2]:
# Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
# you have collected data on the amount of time students spend studying for an exam and their final exam
# scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

import pandas as pd
df = pd.DataFrame({'Study_Time' : [9,6,8,10,11,6,4,7],
              'Final_Score' : [80,75,79,90,95,70,50,77]})

In [3]:
df

   Study_Time  Final_Score
0           9           80
1           6           75
2           8           79
3          10           90
4          11           95
5           6           70
6           4           50
7           7           77

In [6]:
corr_coeff = df['Study_Time'].corr(df['Final_Score'],method='pearson')
corr_coeff

0.9462633809670079

In [7]:
if corr_coeff > 0:
    print("The variables 'Study_Time' and 'Final_Score' have a positive correlation.")
elif corr_coeff < 0:
    print("The variables 'Study_Time' and 'Final_Score' have a negative correlation.")
else:
    print("The variables 'Study_Time' and 'Final_Score' have little to no linear correlation.")

The variables 'Study_Time' and 'Final_Score' have a positive correlation.

In [9]:
# Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
# Suppose you have collected data on the amount of sleep individuals get each night and their overall job
# satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
# variables and interpret the result.

import pandas as pd
df = pd.DataFrame({'Sleep_Each_Night' : [8,9,6,6,5,4,7,10],
              'Job_Satisfaction' : [9,10,8,8,6,5,4,7]})

In [10]:
df

   Sleep_Each_Night  Job_Satisfaction
0                 8                 9
1                 9                10
2                 6                 8
3                 6                 8
4                 5                 6
5                 4                 5
6                 7                 4
7                10                 7

In [18]:
corr_df = df['Sleep_Each_Night'].corr(df['Job_Satisfaction'],method='spearman')
corr_df

0.4698795180722891

In [17]:
if corr_df > 0:
    print("The variables 'Sleep_Each_Night' and 'Job_Satisfaction' have a positive montonic correlation.")
elif corr_df < 0:
    print("The variables 'Sleep_Each_Night' and 'Job_Satisfaction' have a negative montonic correlation.")
else:
    print("The variables 'Sleep_Each_Night' and 'Job_Satisfaction' have little to no monotonic correlation.")

The variables 'Sleep_Each_Night' and 'Job_Satisfaction' have a positive montonic correlation.

In [37]:
# Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
# exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
# for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
# between these two variables and compare the results.

import pandas as pd
df =  pd.DataFrame({'Exercise_Hour' : [4,5,7,2,3,4,6,7,1,2]*5,
              'BMI' : [22,23,27.3,28,32,23.5,24.8,22.5,30,21]*5})

In [22]:
df.head()

   Exercise_Hour   BMI
0              4  22.0
1              5  23.0
2              7  27.3
3              2  28.0
4              3  32.0

In [35]:
corr_pear = df['Exercise_Hour'].corr(df['BMI'],method='pearson')
corr_pear

-0.3285247903538866

In [34]:
corr_spear = df['Exercise_Hour'].corr(df['BMI'],method='spearman')
corr_spear

-0.2630080105579639

In [36]:
if abs(corr_pear) > abs(corr_spear):
    print("The Pearson correlation coefficient suggests a stronger linear relationship.")
elif abs(corr_pear) < abs(corr_spear):
    print("The Spearman's rank correlation coefficient suggests a stronger monotonic relationship.")
else:
    print("Both correlation coefficients suggest similar strength of the relationship.")

The Pearson correlation coefficient suggests a stronger linear relationship.

In [39]:
# Q4. A researcher is interested in examining the relationship between the number of hours individuals
# spend watching television per day and their level of physical activity. The researcher collected data on
# both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
# these two variables.

import pandas as pd
df =  pd.DataFrame({'Television_spend_time' : [4,5,7,2,3,4,6,7,1,2]*5,
                    'Physical_Activity' : [2,1,3,4,5,3,7,8,9,6]*5})

In [41]:
df.head()

   Television_spend_time  Physical_Activity
0                      4                  2
1                      5                  1
2                      7                  3
3                      2                  4
4                      3                  5

In [43]:
df.corr(method='pearson')

                       Television_spend_time  Physical_Activity
Television_spend_time               1.000000          -0.172541
Physical_Activity                  -0.172541           1.000000

In [66]:
# Q5. A survey was conducted to examine the relationship between age and preference for a particular
# brand of soft drink. The survey results are shown below:
# Age(Years)      Soft drink Preference
#    25               Coke
#    42               Pepsi
#    37             Mountain Dew
#    19               Coke
#    31               Pepsi
#    28               Coke


import pandas as pd
df = pd.DataFrame({'Age(Years)' : [25,42,37,19,31,28],
              'Soft_Drink_Prefrence' : ['Coke','Pepsi','Mountain Dew','Coke','Pepsi','Coke']})

In [67]:
df

   Age(Years) Soft_Drink_Prefrence
0          25                 Coke
1          42                Pepsi
2          37         Mountain Dew
3          19                 Coke
4          31                Pepsi
5          28                 Coke

In [68]:
mean_age = df.groupby('Soft_Drink_Prefrence')['Age(Years)'].mean().to_dict()
mean_age

{'Coke': 24.0, 'Mountain Dew': 37.0, 'Pepsi': 36.5}

In [69]:
df['encoded_age'] = df['Soft_Drink_Prefrence'].map(mean_age)

In [70]:
df

   Age(Years) Soft_Drink_Prefrence  encoded_age
0          25                 Coke         24.0
1          42                Pepsi         36.5
2          37         Mountain Dew         37.0
3          19                 Coke         24.0
4          31                Pepsi         36.5
5          28                 Coke         24.0

In [71]:
# Q6. A company is interested in examining the relationship between the number of sales calls made per day
# and the number of sales made per week. The company collected data on both variables from a sample of
# 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

import pandas as pd
df =  pd.DataFrame({'Sales_call_per_day' : [10,15,18,20,14,12,20,8,14,19]*3,
                    'Sales_made_per_week' : [25,30,35,40,24,29,45,35,20,55]*3})

In [73]:
df.head()

   Sales_call_per_day  Sales_made_per_week
0                  10                   25
1                  15                   30
2                  18                   35
3                  20                   40
4                  14                   24

In [74]:
df.corr(method='pearson')

                     Sales_call_per_day  Sales_made_per_week
Sales_call_per_day             1.000000             0.617093
Sales_made_per_week            0.617093             1.000000